@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--secondary));
  opacity: 0.2;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--background));
  border-radius: 10px; /* Make the thumb rounded */
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary));
}

@layer base {
  :root {
    --background: 253, 35%, 21%;
    --foreground: 240, 30%, 92%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 250, 46%, 41%;
    --primary-foreground: 250, 30%, 71%;

    --secondary: 218, 78%, 42%;
    --secondary-foreground: 218, 88%, 76%;

    --accent: 240, 30%, 92%;
    --accent-foreground: 250, 37%, 58%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gradient-to-r from-background via-secondary to-background text-foreground;
  }
}

